{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="container">
        <h1>修改密码</h1>
        <p>{{ error }}</p>
        <div class="container col-md-4 col-sm-6 col-lg-6">
            <form action="" method="post">         {% csrf_token %}
                <div class="form-group">
                    <label for="id_old_password">旧密码：</label>
                    <input class="form-control" type="password" name="old_password" autofocus required
                           id="id_old_password"/>
                </div>
                <div class="form-group">
                    <label for="id_password">密码：</label>
                    <input class="form-control" type="password" name="password" required id="id_password"/>
                </div>
                <div class="form-group">
                    <label for="id_password2">确认密码：</label>
                    <input class="form-control" type="password" name="password2" required id="id_password2"/>
                </div>
                <p><input type="submit" value="提交"></p>
            </form>
        </div>
    </div>
{% endblock %}