{% extends 'includes/software_base.html' %}


{% block content %}



    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">沪牌一号代拍软件</h1>
        <p class="lead">软件提供三类商品供挑选，适合不同的人群购买</p>
    </div>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header"  style="background-color: #ff5731">
                    <h4 class="my-0 font-weight-normal">单次</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">&yen38
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>指定月份单次使用</li>
                        <li>适合有经验的一击即中</li>
                        <li>团购更优惠 10张起 最低18</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                            onclick="window.open('https://item.taobao.com/item.htm?spm=a1z38n.10677092.0.0.22341deb6LYoUy&id=572610117999')">
                        购买
                    </button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header"  style="background-color: #ff5731">
                    <h4 class="my-0 font-weight-normal">六次</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">低至&yen168
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>性价比之选</li>
                        <li>6次足够大多数人中标</li>
                        <li>提前中标可享退款</li>
                        <li></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                            onclick="window.open('https://item.taobao.com/item.htm?spm=a1z38n.10677092.0.0.22341deb6LYoUy&id=572610117999')">
                        购买
                    </button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header"  style="background-color: #ff5731">
                    <h4 class="my-0 font-weight-normal">拍中为止</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">&yen218
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>一次购买省心省力</li>
                        <li>小白拍牌也不怕</li>
                        <li>提前中标可享退款</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary"
                            onclick="window.open('https://item.taobao.com/item.htm?spm=a1z38n.10677092.0.0.22341deb6LYoUy&id=572610117999')">
                        购买
                    </button>
                </div>
            </div>

        </div>

        {#        <footer class="pt-4 my-md-5 pt-md-5 border-top">#}
        {#            <div class="row">#}
        {#                <div class="col-12 col-md">#}
        {#                    <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24"#}
        {#                         height="24">#}
        {#                    <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>#}
        {#                </div>#}
        {#                <div class="col-6 col-md">#}
        {#                    <h5>Features</h5>#}
        {#                    <ul class="list-unstyled text-small">#}
        {#                        <li><a class="text-muted" href="#">Cool stuff</a></li>#}
        {#                        <li><a class="text-muted" href="#">Random feature</a></li>#}
        {#                        <li><a class="text-muted" href="#">Team feature</a></li>#}
        {#                        <li><a class="text-muted" href="#">Stuff for developers</a></li>#}
        {#                        <li><a class="text-muted" href="#">Another one</a></li>#}
        {#                        <li><a class="text-muted" href="#">Last time</a></li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#                <div class="col-6 col-md">#}
        {#                    <h5>Resources</h5>#}
        {#                    <ul class="list-unstyled text-small">#}
        {#                        <li><a class="text-muted" href="#">Resource</a></li>#}
        {#                        <li><a class="text-muted" href="#">Resource name</a></li>#}
        {#                        <li><a class="text-muted" href="#">Another resource</a></li>#}
        {#                        <li><a class="text-muted" href="#">Final resource</a></li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#                <div class="col-6 col-md">#}
        {#                    <h5>About</h5>#}
        {#                    <ul class="list-unstyled text-small">#}
        {#                        <li><a class="text-muted" href="#">Team</a></li>#}
        {#                        <li><a class="text-muted" href="#">Locations</a></li>#}
        {#                        <li><a class="text-muted" href="#">Privacy</a></li>#}
        {#                        <li><a class="text-muted" href="#">Terms</a></li>#}
        {#                    </ul>#}
        {#                </div>#}
        {#            </div>#}
        {#        </footer>#}
    </div>

{% endblock content %}