{% extends 'includes/forum_base.html' %}

{% block title %}Create new post{% endblock %}

{% block breadcrumb %}
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'home' %}">版块</a>
            </li>
            <li>
                <a href="{% url 'board_topics' board.name %}">{{ board.name }}</a>
            </li>
            <li class="active">
                发新帖
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% load crispy_forms_tags %}
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    </div>
    <div class="container">
        <button type="submit" class="btn btn-success">提交</button>
    </div>

{% endblock %}